# PandasAI Demo
Chat with your CSV files <br>
https://github.com/gventuri/pandas-ai
___

Installing required libraries

In [1]:
#!pip install openai langchain pypdf chromadb docarray

In [2]:
#!pip install pandasai

In [3]:
import pandas as pd
from pandasai import SmartDataframe

In [4]:
df = pd.read_csv("Lemonade2016.csv") ## <- REPLACE WITH YOUR CSV FILE

In [5]:
df.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park   97.0    67.0           70      90.0   0.25
1  7/2/2016     Park   98.0    67.0           72      90.0   0.25
2  7/3/2016     Park  110.0    77.0           71     104.0   0.25
3  7/4/2016    Beach  134.0    99.0           76      98.0   0.25
4  7/5/2016    Beach  159.0   118.0           78     135.0   0.25

I saved my OPEN AI KEY as a csv file

In [6]:
k = pd.read_csv("keys.csv")

In [7]:
from pandasai.llm import OpenAI
llm = OpenAI(api_token=k["key"][0], temperature=0) ## <- REPLACE WITH YOUR OWN OPEN AI KEY

In [8]:
sdf = SmartDataframe(df, config={"llm": llm})
sdf.chat('How many different Locations are there in the table?')

2

In [10]:
sdf = SmartDataframe(df, config={"llm": llm})
sdf.chat('What is the sum of the Lemon column?')

3337.0

In [11]:
df["Lemon"].sum()

3337.0

In [12]:
sdf = SmartDataframe(df, config={"llm": llm})
sdf.chat('What is the average temperature?')

78.87096774193549

In [13]:
df["Temperature"].mean()

78.87096774193549